.nav {
    grid-area: nav;
    /*background-color: #b56422;*/
    height: 100%;
    margin-right: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0.16, 0, 0, 0.16);
}

.item {
    font-size: 17px;
    margin: 0 25px;
    line-height: 1.4em;
}



.active {
    color: #20ff8a;
}

a {
    text-decoration: none;
    color: #000
}

a:hover {
    color: #20ff8a;
    transition-duration: 0.3s;
}

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}